<div>
<span>Today's weather in Cracow is:
  <%= weather_presenter.temperature %> °C,
  <%= weather_presenter.description %></span>
  <img src="<%= weather_presenter.icon %>" alt="weather status">
  <span style="font-style: italic">
<%= weather_presenter.encourage_text %></span>
</div>